# Compiler output and IDE configuration
*.o
*.d
*.a
*.bin
*.iso
*.img
**/.idea/*
**/cmake-build-**/**
.cache/
compile_commands.json

# Local dev environment
doxy/*
docs/*

# Toolchain directory
Toolchain/include/
Toolchain/src/archives/
Toolchain/src/binutils/
Toolchain/src/gcc/
Toolchain/src/build-binutils/
Toolchain/src/build-gcc/

# Working directory
Root/
Userland/Test

# Docs build output directory
Documentation/build/*

# Python
**/__pycache__/*

