*.o
*.d
*.a
*.bin
*.iso
*.img
.idea/*
.stdir/*
.gdb_history
doxy/*
docs/*
Toolchain/src/archives
Toolchain/src/binutils/
Toolchain/src/build-binutils/
Toolchain/src/gcc/
Toolchain/src/build-gcc/
!Toolchain/CMakeLists.txt
MuOS.*
**/cmake-build-**/**
Root/
Userland/Test
