KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=			\
$(ARCHDIR)/tty.o 			\
$(ARCHDIR)/vga.o 			\
$(ARCHDIR)/cpuid.o 			\
$(ARCHDIR)/i8042.o 			\
$(ARCHDIR)/asm/boot.o 		\
$(ARCHDIR)/asm/i8042.o 		\
$(ARCHDIR)/asm/cpuid.o    	\
$(ARCHDIR)/gdt.o 			\
$(ARCHDIR)/portio.o 		\
$(ARCHDIR)/asm/portio.o 	\
$(ARCHDIR)/idt.o 			\
$(ARCHDIR)/irqhandlers.o 	\
$(ARCHDIR)/asm/idt.o      	\
$(ARCHDIR)/exceptions.o 	\
$(ARCHDIR)/asm/exceptions.o \
$(ARCHDIR)/kdebugf.o 		\
$(ARCHDIR)/timer.o 			\
$(ARCHDIR)/paging.o 		\
$(ARCHDIR)/BootConfig.o 	\
$(ARCHDIR)/MemManager.o 	\
$(ARCHDIR)/kpanic.o 		\
$(ARCHDIR)/stage0/stage0.o